body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    
    

}
.img{
    width: 300px;
    height: 400px;
   
}
.card{

   padding: 30px;
   background: #ddebf8;
   display: flex;
   width: 700px;
   margin: 0px auto;
   text-align: center;
   border-bottom: 6px solid #d8cefe;
   justify-content: space-around;
   color: #2b2839;

}
.border-blue{
    border: 2px dotted blue;


}